IMPORT ALL THE LIBRARIES

In [15]:
from google.oauth2 import service_account
from googleapiclient.discovery import build
import pandas as pd
import requests
from io import StringIO
from io import BytesIO  # For handling Excel files

SET THE PATH FOR  YOUR DOOR AND SCOPE

In [3]:
# Replace with the path to your service account credentials
SERVICE_ACCOUNT_FILE = "/content/drive-bridge-financial-data-e21f827ecd9b.json"
SCOPES = ['https://www.googleapis.com/auth/drive.readonly']


#service account file , tell the code where is the door address and what are the permission to open that door
#scope script defines the level of access (permissions) that your script is requesting from the Google API.  (Here the scope is read only.)

AUTHETICATE AND CREATE THE SERVICES

In [4]:
# Authenticate and create the service

credentials = service_account.Credentials.from_service_account_file(
    SERVICE_ACCOUNT_FILE, scopes=SCOPES)  #from the service account file we are using a function credentials.from_service_account_file
#It reads the service account file and authenticates our script using the permissions (scopes) defined.


service = build('drive', 'v3', credentials=credentials)
#This line builds the Google Drive API service, allowing your script to interact with Google Drive. Here's what it does
#build() is a function provided by the googleapiclient.discovery module that initializes the API service
#The first argument, 'drive', specifies the Google Drive API you want to use.

FOLDER ID

In [5]:
# Replace with your Google Drive folder ID
FOLDER_ID = '15UYA2eHZpuVPtGsmmJ0b5g4UGEXjRZaG'

FUNCTION TO LIST ALL THE FILES IN GOOGLE DRIVE

In [9]:
def list_files(service, folder_id):
    results = service.files().list(
        q=f"'{folder_id}' in parents",
        fields="files(id, name, mimeType)"
    ).execute()
    return results.get('files', [])

In [10]:
# Fetch the files
files = list_files(service, FOLDER_ID)
files

[{'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1U-X2ss_mhQMQZBTiEynYwckujN-JKA7VBVxqGoTV2mI',
  'name': 'combined_part_25'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1TT2UOPw92KfNj-JRBzR4JGmoyXCaEo36L_-A6kcePPA',
  'name': 'combined_part_24'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1BkCewWqrJF5qJPE1WoyWpwHbr25KnGm_p5CGzAl8k1Y',
  'name': 'combined_part_22'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1NN-2B3ZxanZuYf-U3DfRSO3b9MMH3pbE3G3GNR92zKg',
  'name': 'combined_part_23'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1Qh9SrYHRzYVW1n6mlFlOo-S3FoB3WBCYQPLeWpMAOlY',
  'name': 'combined_part_21'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1dFcuDgduCTDXtWPkM6k0MOzSPMQlWmwwWPuxz2EpOWY',
  'name': 'combined_part_20'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1TXu88S7c9-0C-pZmXkUEFFTldssX8RgpmE3Yvar1WqQ',
  'name': 'combined_part_19'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1ECSsIJX7upJPU7Hmo3l5uS5qFJqXoBVxqxlH0ytYHhM',
  'name': 'combined_part_18'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1EREksNxLr7X61k79rPEUFszkVl8IhLjpVuIFxPdvfRg',
  'name': 'combined_part_17'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1GPprh2_PSxqbh7DSc6sChGVNKB8ByPfkpDdMDSsIr_s',
  'name': 'combined_part_14'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1r4XsJhycWE62SuEAv6UkjC9ZXJH2C34hZESmrtZZmvU',
  'name': 'combined_part_13'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1HQeNWwUDOKSJRuWF4V5Qz5H-gDxZ4IbXHLIIyy_81F0',
  'name': 'combined_part_15'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1VILVQYkROiF3Jjrp-hcsVMYJcDFbHGOBBbEuwjeHIRc',
  'name': 'combined_part_16'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1pGYLwKzh3dqsOMpPrrHlTKWAQW7yoqGd3d1QniFiiFs',
  'name': 'combined_part_12'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1FovcLg58Q9ntwDBMKA_uq4lUCfipYIFC3yJ3WECNlak',
  'name': 'combined_part_11'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1REMUp5rcQ7vzK4yGqcYD_dw8lEpmBjmbPY-0pwJbaMc',
  'name': 'combined_part_5'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1f0WiqI5NhjNDk9b7Zq99cDres44gxwmSx57-WRkxejc',
  'name': 'combined_part_10'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1jzLVRfa5T5SdXI5DCZgrvln3Yut6oj3vmTWTzesJQBA',
  'name': 'combined_part_6'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1HaeDf5XycTVhuF0E0ScIG48kcNqIJd-Z-n1A_7dLqdk',
  'name': 'combined_part_2'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1PT63AWw1LhmyhTxulJVZFRj2WNQavb4RPLnmJOJIwEk',
  'name': 'combined_part_9'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1rTDT1kTN-iCRa3QIZ30IA3YddLDAodEx-tY9CN7J8f0',
  'name': 'combined_part_3'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '19oeHASuXq3W2M4reZrru83l_eJWm0sFfMxw_rODpnb4',
  'name': 'combined_part_7'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1Y5SQw6A7U3EUB3yVUkctseN-dkRehGO7vdRdg4Bk7kY',
  'name': 'combined_part_4'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '15gDcMltH3wvS7iz9aMTFpqDJNp-9GX41bNBgVyxAADo',
  'name': 'combined_part_8'},
 {'mimeType': 'application/vnd.google-apps.spreadsheet',
  'id': '1tKMRKGB3zGzpF0yPtTMECtceLrta17fNDPyW3RVH8Ek',
  'name': 'combined_part_1'}]

In [11]:
# List to store dataframes for file content
file_dataframes = []

for file in files:
    file_id = file['id']
    file_name = file['name']
    mime_type = file['mimeType']

    # Check if the file is Google Sheets, CSV, or Excel
    if mime_type == 'application/vnd.google-apps.spreadsheet':
        # Export Google Sheets as CSV
        download_url = f"https://docs.google.com/spreadsheets/d/{file_id}/export?format=csv"
    elif mime_type == 'text/csv':
        # If it's already a CSV file
        download_url = f"https://drive.google.com/uc?export=download&id={file_id}"
    elif mime_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':
        # If it's an Excel file
        download_url = f"https://drive.google.com/uc?export=download&id={file_id}"
    else:
        continue  # Skip files that are not CSV, Google Sheets, or Excel


    response = requests.get(download_url)# Download and read the CSV or Excel file into a pandas dataframe
    if response.status_code == 200:  #status code 200 means files was successfully downonloaded
        if mime_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':
            # For Excel, use BytesIO to read the binary content
            df = pd.read_excel(BytesIO(response.content))
        else:
            # For CSV and Google Sheets (converted to CSV)
            df = pd.read_csv(StringIO(response.content.decode('utf-8')))
        file_dataframes.append(df)
    else:
        print(f"Error downloading file: {file_name}")

In [12]:
file_dataframes

[           ID Customer_ID     Month            Name   Age          SSN  \
 0     0x23cca  CUS_0x8b6d   January  Scott Haggettl    23  796-69-6764
 1     0x23ccb  CUS_0x8b6d  February  Scott Haggettl    23    #F%$D@*&8
 2     0x23ccc  CUS_0x8b6d     March  Scott Haggettl    23  796-69-6764
 3     0x23ccd  CUS_0x8b6d     April  Scott Haggettl  5615  796-69-6764
 4     0x23cce  CUS_0x8b6d       May  Scott Haggettl    23  796-69-6764
 ...       ...         ...       ...             ...   ...          ...
 5995  0x25fe9  CUS_0x942c     April           Nicks    25  078-73-5990
 5996  0x25fea  CUS_0x942c       May           Nicks    25  078-73-5990
 5997  0x25feb  CUS_0x942c      June           Nicks    25  078-73-5990
 5998  0x25fec  CUS_0x942c      July           Nicks    25  078-73-5990
 5999  0x25fed  CUS_0x942c    August           Nicks    25  078-73-5990

      Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
 0      Musician      102594.9            8391.575000                  3  ...
 1      Musician     102594.9_            8391.575000                  3  ...
 2      Musician      102594.9            8391.575000                  3  ...
 3       _______      102594.9            8391.575000                  3  ...
 4      Musician      102594.9                    NaN                  3  ...
 ...         ...           ...                    ...                ...  ...
 5995   Mechanic      39628.99            3359.415833                  4  ...
 5996   Mechanic      39628.99            3359.415833                  4  ...
 5997   Mechanic      39628.99            3359.415833                  4  ...
 5998   Mechanic      39628.99            3359.415833                  4  ...
 5999   Mechanic     39628.99_            3359.415833                  4  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
 0       Standard            416.11                30.601881
 1              _            416.11                43.528168
 2       Standard            416.11                37.487060
 3       Standard            416.11                35.125945
 4       Standard            416.11                38.284492
 ...          ...               ...                      ...
 5995           _            502.38                34.663572
 5996           _            502.38                40.565631
 5997        Good            502.38                41.255522
 5998        Good            502.38                33.638208
 5999        Good            502.38                34.192463

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
 0                        NaN                     No            0.000000
 1      18 Years and 9 Months                     No            0.000000
 2     18 Years and 10 Months                     NM            0.000000
 3     18 Years and 11 Months                     No            0.000000
 4      19 Years and 0 Months                     No            0.000000
 ...                      ...                    ...                 ...
 5995   31 Years and 6 Months                     No           35.104023
 5996   31 Years and 7 Months                     No           35.104023
 5997   31 Years and 8 Months                     No           35.104023
 5998   31 Years and 9 Months                     No           35.104023
 5999  31 Years and 10 Months                     No           35.104023

      Amount_invested_monthly                 Payment_Behaviour  \
 0          653.9822978912564    Low_spent_Large_value_payments
 1         186.52023659780826   High_spent_Large_value_payments
 2          250.4766071514879  High_spent_Medium_value_payments
 3         143.98347272538896   High_spent_Large_value_payments
 4          651.6394489063042   Low_spent_Medium_value_payments
 ...                      ...                               ...
 5995       60.97133255718485   High_spent_Large_value_payments
 5996       54.18595028760385  High_spent_Medium_value_payments
 5997       24.02847744864441   High_spent_Large_value_payments
 5998      251.67258219721603    Low_spent_Large_value_payments
 5999       167.1638651610451                            !@9#%8

      Monthly_Balance Credit_Score
 0         455.175202     Standard
 1         892.637263     Standard
 2         838.680893     Standard
 3         935.174027     Standard
 4         467.518051     Standard
 ...              ...          ...
 5995      479.866228         Poor
 5996      496.651610         Poor
 5997      516.809083         Poor
 5998      319.164979     Standard
 5999      393.673696         Poor

 [6000 rows x 28 columns],
            ID Customer_ID     Month     Name  Age          SSN  Occupation  \
 0     0x219a2  CUS_0x89b4   January   Sarahu   26  581-11-9310  Accountant
 1     0x219a3  CUS_0x89b4  February   Sarahu   26  581-11-9310  Accountant
 2     0x219a4  CUS_0x89b4     March   Sarahu  26_  581-11-9310  Accountant
 3     0x219a5  CUS_0x89b4     April   Sarahu   26  581-11-9310     _______
 4     0x219a6  CUS_0x89b4       May   Sarahu   26  581-11-9310  Accountant
 ...       ...         ...       ...      ...  ...          ...         ...
 5995  0x23cc1  CUS_0xc166     April  Thomash   55  466-09-8122   Architect
 5996  0x23cc2  CUS_0xc166       May  Thomash   55  466-09-8122   Architect
 5997  0x23cc3  CUS_0xc166      June  Thomash   55  466-09-8122   Architect
 5998  0x23cc4  CUS_0xc166      July      NaN   56  466-09-8122   Architect
 5999  0x23cc5  CUS_0xc166    August  Thomash   56  466-09-8122   Architect

      Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  Credit_Mix  \
 0         11465.92             744.493333                  7  ...    Standard
 1         11465.92             744.493333                  7  ...    Standard
 2         11465.92             744.493333                  7  ...    Standard
 3        11465.92_                    NaN                  7  ...    Standard
 4         11465.92             744.493333                  7  ...           _
 ...            ...                    ...                ...  ...         ...
 5995     107836.32                    NaN                  3  ...    Standard
 5996     107836.32            9251.360000                  3  ...           _
 5997     107836.32            9251.360000                  3  ...    Standard
 5998     107836.32            9251.360000                  3  ...    Standard
 5999     107836.32            9251.360000                  3  ...    Standard

       Outstanding_Debt Credit_Utilization_Ratio      Credit_History_Age  \
 0              1422.93                38.466921   14 Years and 5 Months
 1              1422.93                38.082899   14 Years and 6 Months
 2              1422.93                34.416456   14 Years and 7 Months
 3              1422.93                24.467137   14 Years and 8 Months
 4              1422.93                34.547772                     NaN
 ...                ...                      ...                     ...
 5995           1045.39                31.321335  19 Years and 10 Months
 5996           1045.39                31.068714  19 Years and 11 Months
 5997           1045.39                29.400094   20 Years and 0 Months
 5998           1045.39                41.071318   20 Years and 1 Months
 5999           1045.39                28.112840   20 Years and 2 Months

       Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly  \
 0                       Yes            0.000000        97.5137779378832
 1                       Yes         2851.000000      10.630952548649931
 2                       Yes            0.000000       97.65525769290214
 3                       Yes            0.000000       84.06715397686786
 4                       Yes            0.000000       65.78601596895011
 ...                     ...                 ...                     ...
 5995                     No          231.244069      1131.9835465765825
 5996                     No          231.244069      112.86260394941631
 5997                     No          231.244069       383.9922155732482
 5998                     No          231.244069       101.0146095778987
 5999                     No          231.244069       230.8861171127007

                      Payment_Behaviour Monthly_Balance Credit_Score
 0       Low_spent_Small_value_payments      266.935555     Standard
 1     High_spent_Medium_value_payments      313.818381     Standard
 2       Low_spent_Small_value_payments      266.794076     Standard
 3       Low_spent_Small_value_payments      280.382179         Poor
 4       Low_spent_Small_value_payments      298.663317         Poor
 ...                                ...             ...          ...
 5995    Low_spent_Small_value_payments             NaN     Standard
 5996   High_spent_Large_value_payments      821.029327     Standard
 5997    Low_spent_Large_value_payments      579.899715     Standard
 5998   High_spent_Large_value_payments      832.877321         Poor
 5999   High_spent_Small_value_payments      723.005814     Standard

 [6000 rows x 28 columns],
            ID Customer_ID     Month            Name   Age          SSN  \
 0     0x1d352  CUS_0x35e9   January             NaN  2079  022-78-9607
 1     0x1d353  CUS_0x35e9  February   Jessica Wohls    21  022-78-9607
 2     0x1d354  CUS_0x35e9     March             NaN    21  022-78-9607
 3     0x1d355  CUS_0x35e9     April   Jessica Wohls    21  022-78-9607
 4     0x1d356  CUS_0x35e9       May   Jessica Wohls    22  022-78-9607
 ...       ...         ...       ...             ...   ...          ...
 5995  0x1f671  CUS_0xb982     April  Richard Leongk    52  688-83-9384
 5996  0x1f672  CUS_0xb982       May  Richard Leongk    52  688-83-9384
 5997  0x1f673  CUS_0xb982      June  Richard Leongk    52  688-83-9384
 5998  0x1f674  CUS_0xb982      July  Richard Leongk    52  688-83-9384
 5999  0x1f675  CUS_0xb982    August  Richard Leongk    52  688-83-9384

       Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
 0      Scientist      17805.21              1600.7675                  3  ...
 1      Scientist      17805.21              1600.7675                  3  ...
 2      Scientist      17805.21                    NaN                  3  ...
 3      Scientist      17805.21              1600.7675                  3  ...
 4      Scientist      17805.21              1600.7675                  3  ...
 ...          ...           ...                    ...                ...  ...
 5995  Accountant      59494.14                    NaN                  0  ...
 5996     _______      59494.14              5162.8450                  0  ...
 5997  Accountant      59494.14              5162.8450                  0  ...
 5998  Accountant      59494.14              5162.8450                  0  ...
 5999  Accountant      59494.14              5162.8450                  0  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
 0              _           1879.94                27.531669
 1       Standard           1879.94                32.614402
 2       Standard           1879.94                39.613881
 3       Standard           1879.94                29.947037
 4       Standard           1879.94                34.215820
 ...          ...               ...                      ...
 5995        Good            662.71                27.500031
 5996        Good            662.71                28.754529
 5997        Good            662.71                41.539665
 5998        Good            662.71                32.299001
 5999        Good            662.71                31.206550

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
 0      16 Years and 9 Months                    Yes           57.753932
 1     16 Years and 10 Months                    Yes           57.753932
 2     16 Years and 11 Months                    Yes           57.753932
 3      17 Years and 0 Months                    Yes           57.753932
 4      17 Years and 1 Months                     NM           57.753932
 ...                      ...                    ...                 ...
 5995                     NaN                     No           31.134101
 5996   29 Years and 1 Months                     No           31.134101
 5997                     NaN                     No           31.134101
 5998   29 Years and 3 Months                     No           31.134101
 5999   29 Years and 4 Months                     No           31.134101

      Amount_invested_monthly                 Payment_Behaviour  \
 0         137.33283654244576    Low_spent_Small_value_payments
 1          92.46918018409448    Low_spent_Small_value_payments
 2                        NaN   High_spent_Small_value_payments
 3          114.2631108018038    Low_spent_Small_value_payments
 4          70.86172768906061    Low_spent_Large_value_payments
 ...                      ...                               ...
 5995      142.95766571902703  High_spent_Medium_value_payments
 5996      186.56627317911682  High_spent_Medium_value_payments
 5997       247.2888344855052    Low_spent_Small_value_payments
 5998      295.65517463013964   Low_spent_Medium_value_payments
 5999      190.21074954468781    Low_spent_Small_value_payments

      Monthly_Balance Credit_Score
 0         254.989981     Standard
 1         299.853638     Standard
 2         272.443408     Standard
 3         278.059707     Standard
 4         301.461090     Standard
 ...              ...          ...
 5995      592.192734         Good
 5996      548.584126         Good
 5997      527.861565         Good
 5998      469.495225     Standard
 5999      584.939650     Standard

 [6000 rows x 28 columns],
            ID Customer_ID     Month     Name Age          SSN Occupation  \
 0     0x1f67a  CUS_0x7080   January  Barkinp  39  026-31-3577    Teacher
 1     0x1f67b  CUS_0x7080  February  Barkinp  39  026-31-3577    Teacher
 2     0x1f67c  CUS_0x7080     March  Barkinp  39  026-31-3577    Teacher
 3     0x1f67d  CUS_0x7080     April  Barkinp  39  026-31-3577    Teacher
 4     0x1f67e  CUS_0x7080       May  Barkinp  39  026-31-3577    Teacher
 ...       ...         ...       ...      ...  ..          ...        ...
 5995  0x21999  CUS_0x6211     April  Spicerh  20  650-38-1015  Scientist
 5996  0x2199a  CUS_0x6211       May  Spicerh  21  650-38-1015  Scientist
 5997  0x2199b  CUS_0x6211      June  Spicerh  21  650-38-1015  Scientist
 5998  0x2199c  CUS_0x6211      July  Spicerh  21  650-38-1015  Scientist
 5999  0x2199d  CUS_0x6211    August  Spicerh  21  650-38-1015  Scientist

      Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  Credit_Mix  \
 0         58774.86                    NaN                  7  ...         Bad
 1         58774.86            4796.905000                  7  ...         Bad
 2      17036597.0_            4796.905000                  7  ...         Bad
 3         58774.86            4796.905000                  7  ...         Bad
 4         58774.86            4796.905000                  7  ...         Bad
 ...            ...                    ...                ...  ...         ...
 5995      33643.76            2835.646667                 10  ...    Standard
 5996      33643.76            2835.646667                 10  ...    Standard
 5997      33643.76            2835.646667                 10  ...    Standard
 5998      33643.76            2835.646667                 10  ...           _
 5999      33643.76            2835.646667                 10  ...    Standard

       Outstanding_Debt Credit_Utilization_Ratio      Credit_History_Age  \
 0              2083.26                31.656720   14 Years and 7 Months
 1              2083.26                29.679718   14 Years and 8 Months
 2              2083.26                31.643567   14 Years and 9 Months
 3              2083.26                33.433503                     NaN
 4              2083.26                30.227010  14 Years and 11 Months
 ...                ...                      ...                     ...
 5995           2379.75                27.822371   13 Years and 7 Months
 5996           2379.75                35.062046   13 Years and 8 Months
 5997           2379.75                37.307187   13 Years and 9 Months
 5998           2379.75                27.934237  13 Years and 10 Months
 5999           2379.75                36.994510  13 Years and 11 Months

       Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly  \
 0                       Yes          290.944962       294.8536336532485
 1                       Yes          290.944962       86.45327578613144
 2                       Yes          290.944962         86.355850183324
 3                       Yes          290.944962      167.34775172914203
 4                       Yes          290.944962       567.8636233869818
 ...                     ...                 ...                     ...
 5995                    Yes           36.681715       283.5755892166151
 5996                    Yes           36.681715       44.23315266366881
 5997                    Yes           36.681715       77.96008588925906
 5998                    Yes           36.681715        57.2713700042119
 5999                    Yes           36.681715        73.5431843575069

                      Payment_Behaviour     Monthly_Balance Credit_Score
 0      Low_spent_Medium_value_payments  173.89190463374646         Poor
 1      High_spent_Small_value_payments  362.29226250086367         Poor
 2     High_spent_Medium_value_payments  352.38968810367106         Poor
 3     High_spent_Medium_value_payments   271.3977865578529     Standard
 4       Low_spent_Small_value_payments                 NaN     Standard
 ...                                ...                 ...          ...
 5995    Low_spent_Small_value_payments  253.30736203204003         Poor
 5996  High_spent_Medium_value_payments  452.64979858498634         Poor
 5997   High_spent_Small_value_payments  428.92286535939616     Standard
 5998  High_spent_Medium_value_payments   439.6115812444432     Standard
 5999   High_spent_Small_value_payments   433.3397668911482         Poor

 [6000 rows x 28 columns],
            ID Customer_ID     Month                      Name Age  \
 0     0x1b02a  CUS_0x1d1b   January                   Araxiac  20
 1     0x1b02b  CUS_0x1d1b  February                   Araxiac  20
 2     0x1b02c  CUS_0x1d1b     March                   Araxiac  20
 3     0x1b02d  CUS_0x1d1b     April                   Araxiac  20
 4     0x1b02e  CUS_0x1d1b       May                   Araxiac  20
 ...       ...         ...       ...                       ...  ..
 5995  0x1d349  CUS_0x63b0     April  Economics Correspondentc  41
 5996  0x1d34a  CUS_0x63b0       May  Economics Correspondentc  41
 5997  0x1d34b  CUS_0x63b0      June                       NaN  41
 5998  0x1d34c  CUS_0x63b0      July  Economics Correspondentc  41
 5999  0x1d34d  CUS_0x63b0    August  Economics Correspondentc  41

               SSN Occupation Annual_Income  Monthly_Inhand_Salary  \
 0       #F%$D@*&8    Manager     152574.76           12547.563330
 1     566-75-8198    Manager     152574.76           12547.563330
 2     566-75-8198    Manager     152574.76                    NaN
 3     566-75-8198    Manager     152574.76           12547.563330
 4     566-75-8198    Manager     152574.76           12547.563330
 ...           ...        ...           ...                    ...
 5995    #F%$D@*&8    _______      89705.92                    NaN
 5996  951-45-7111  Architect      89705.92            7678.493333
 5997  951-45-7111  Architect      89705.92            7678.493333
 5998  951-45-7111    _______      89705.92            7678.493333
 5999  951-45-7111  Architect      89705.92            7678.493333

       Num_Bank_Accounts  ...  Credit_Mix  Outstanding_Debt  \

In [13]:
# Combine all dataframes into a single one
if file_dataframes:
    combined_df = pd.concat(file_dataframes, ignore_index=True)

In [14]:
combined_df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x23cca,CUS_0x8b6d,January,Scott Haggettl,23,796-69-6764,Musician,102594.9,8391.575000,3,...,Standard,416.11,30.601881,NaN,No,0.000000,653.9822978912564,Low_spent_Large_value_payments,455.175202,Standard
1,0x23ccb,CUS_0x8b6d,February,Scott Haggettl,23,#F%$D@*&8,Musician,102594.9_,8391.575000,3,...,_,416.11,43.528168,18 Years and 9 Months,No,0.000000,186.52023659780826,High_spent_Large_value_payments,892.637263,Standard
2,0x23ccc,CUS_0x8b6d,March,Scott Haggettl,23,796-69-6764,Musician,102594.9,8391.575000,3,...,Standard,416.11,37.487060,18 Years and 10 Months,NM,0.000000,250.4766071514879,High_spent_Medium_value_payments,838.680893,Standard
3,0x23ccd,CUS_0x8b6d,April,Scott Haggettl,5615,796-69-6764,_______,102594.9,8391.575000,3,...,Standard,416.11,35.125945,18 Years and 11 Months,No,0.000000,143.98347272538896,High_spent_Large_value_payments,935.174027,Standard
4,0x23cce,CUS_0x8b6d,May,Scott Haggettl,23,796-69-6764,Musician,102594.9,NaN,3,...,Standard,416.11,38.284492,19 Years and 0 Months,No,0.000000,651.6394489063042,Low_spent_Medium_value_payments,467.518051,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0x5c45,CUS_0x8a8c,December,Karen Jacobsu,32,520-12-7956,Doctor,14219.02,NaN,10,...,Bad,3628.5,27.975839,3 Years and 8 Months,NM,76.486008,79.3613953137231,Low_spent_Medium_value_payments,236.84443,NaN
149996,0x5c4e,CUS_0x122f,September,Donovang,24,179-85-5358,Media_Manager,18231.52,NaN,6,...,_,1358.96,26.281263,15 Years and 6 Months,Yes,86.608647,154.47017169345767,Low_spent_Small_value_payments,193.750515,NaN
149997,0x5c4f,CUS_0x122f,October,Donovang,24,179-85-5358,Media_Manager,18231.52,1448.293333,6,...,Bad,1358.96,33.889744,15 Years and 7 Months,Yes,86.608647,42.358067683971626,High_spent_Medium_value_payments,265.862619,NaN
149998,0x5c50,CUS_0x122f,November,NaN,24,179-85-5358,Media_Manager,18231.52,1448.293333,6,...,_,1358.96,34.718260,15 Years and 8 Months,Yes,86.608647,172.55816847802882,Low_spent_Small_value_payments,175.662518,NaN
149999,0x5c51,CUS_0x122f,December,Donovang,5488,179-85-5358,Media_Manager,18231.52,1448.293333,6,...,Bad,1358.96,36.250306,15 Years and 9 Months,Yes,86.608647,13.107727973689306,High_spent_Large_value_payments,285.112958,NaN